.error {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;

    background-color: #e8e5e5;
}

.error h3 {
    color: #805353;
    margin: 0;
}

.error .bi {
    color: #c91717;
    margin-left: 10px;
}