span {
  color: var(--bg-1-color);
}

a {
  text-decoration: none !important;
  color: #fff !important;
}
/*Styles header*/
.header {
    display: grid;
    grid-template-rows: repeat(25%);
  
    background-color: var(--bg-1-color);
  }
  
  .header-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  
    color: var(--header-font-color);
  }
  
  .header-home {
    position: relative;

    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 48px;
  }
  
  .header-home h6 {
    font-size: .8rem;
  }
  
  .header-logo {
    margin-left: 10px;
    margin-top: 6px;
    width: 82px;
    height: auto;
  } 
  
  .header-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .header-item h6 {
    margin-bottom: 0.2rem;
    margin-right: .1rem;
  }
  
  .bi {
    color: white;
    font-size: 2rem;
  }
  
  .bi-chevron-right {
    font-size: .5rem;
  }
  
  .header-cart {
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .header-cart h6 {
    position: absolute;
  
    margin-top: .1rem;
    margin-left: .1rem;
    border: 1px;
    border-color: var(--bg-1-color);
  
    font-size: 1.2rem;
    color: var(--color-item-cart);
  
  }
  
  /*Styles search*/
  
  .header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .2rem;
    height: 46px;
    border-radius: .6rem;
  
    background-color: #ffffff;
  }
  
  .header-search h6 {
    color: var(--search-font);
    margin: 0;
    margin-left: .8rem;
  }
  
  .item-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: inherit;
    width: 50px;
  
    background-color: var(--search-c);
  }
  
  .item-search i {
    color: #000;
    font-size: 1.5rem;
  }
  
  /*Styles for categorys*/
  .header-category {
    position: relative;
  
    height: 38px;
    margin-top: .7rem;
    padding-left: .4rem;
    
    overflow-x: scroll;
  }

  .header-category .error {
    height: 36px;
    width: 98%;
  }

  .header-category::-webkit-scrollbar {
    display: none;
  }
  
  .carrousel {
    position: absolute;
    width: 100%;
    display: flex;
  }
  
  .carrousel h6 {
    margin-right: .8rem;
    white-space: nowrap;
  }
  
  /*Style for deliver*/
  .header-deliver {
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 44px;
    padding-left: .6rem;
  
    background-color: var(--bg-deliver);
  }
  
  .header-deliver i {
    font-size: 1.2rem;
  }
  
  .header-deliver h6 {
    margin: 0;
    margin-left: 4px;
  
    font-size: .85rem;
  }
  
/* Style Nav*/

/*Animation*/

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slide-out {
  animation: slide-out .3s ease-in-out forwards;
}

.slide-in {
  
  animation: slide-in .3s ease-in-out forwards;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;

  display: grid;
  grid-template-columns: 80% 20%;
  transform: translateX(-100%);
}

.left .top {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-1-color);
}

.left .top >:nth-child(1) {
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
  padding: 25px;
}

.left .top >:nth-child(1)>:nth-child(1) {
  color: #fff;
}

.left .top>:nth-child(2) {
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.top>:nth-child(2)>:nth-child(1) {
  margin-bottom: -14px;
  
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.top>:nth-child(2)>:nth-child(2) {
  font-size: 1.8rem;
  color: #fff;
}

.nav-options {
  background-color: var(--bg-content);
  height: 100%;
}

.home {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  background-color: #fff;
}

.home>:nth-child(1) {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--bg-1-color);
}



.home>:nth-child(2) {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--bg-1-color);
}

.trending {
  width: 100%;
  margin-top: 5px;

  background-color: #fff;
}

.trending>:nth-child(1) {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 15px;

  font-size: 1.2rem;
  font-weight: bold;
}

.trending>:nth-child(2) {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 20px;

  font-size: 1rem;
  font-weight: 500;
}

.top-departments {
  margin-top: 5px;
  height: 100%;
  padding: 15px;
  padding-top: 0;

  background-color: #fff;
}

.top-departments>:first-child {
  height: 56px;
  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;
}

.top-departments ul {
  padding: 0;
}

.top-departments ul > li{
  height: 53px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.top-departments ul >li:last-child {
  display: flex;
  justify-content: space-between;
}

.top-departments ul >li:last-child i {
  color: var(--bg-1-color);
  font-size: 1rem;
}

.right {
  display: flex;
  justify-content: center;
  padding-top: 35px;

  background-color: #000000;
  opacity: 85%;
}

.right i {
  font-size: 1.5rem;
}