/* ********** Custom Properties ********** */
@font-face{
  font-family: "ember";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/AmazonEmber_Lt.woff")format("woff");
}

@font-face{
  font-family: "ember-medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Amazon-Ember-Medium.woff")format("woff");
}
:root{ 
  --header-font-color : #ffffff;
  --bg-1-color: #232f3e;
  --bg-2-color: #37475a;
  --color-item-cart: #ff990c;
  --search-font: #b0afaf;
  --search-c : #fcbb6a;
  --bg-deliver : #37475A;
  --bg-content  : #d5dbdb;
  --button-sing : #ffd814;
  --step--2: clamp(0.91rem, calc(0.90rem + 0.07vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.16vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.26rem + 0.28vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.49rem + 0.44vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.76rem + 0.67vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.07rem + 0.98vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.44rem + 1.39vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.88rem + 1.94vw), 4.58rem);
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Arsenal', sans-serif;
  
  scroll-behavior: smooth;
}
*, *:before, *:after {
box-sizing: inherit;
}

img{
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 5px;
}

body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* ********** Component ********** */
/*Styles header*/
.header {
  display: grid;
  grid-template-rows: repeat(25%);

  background-color: var(--bg-1-color);
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;

  color: var(--header-font-color);
}

.header-home {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 48px;
}

.header-home h6 {
  font-size: .8rem;
}

.header-logo {
  margin-left: 10px;
  margin-top: 6px;
  width: 82px;
  height: auto;
} 

.header-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-item h6 {
  margin-bottom: 0.2rem;
  margin-right: .1rem;
}

.bi {
  color: white;
  font-size: 2rem;
}

.bi-chevron-right {
  font-size: .5rem;
}

.header-cart {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-cart h6 {
  position: absolute;

  margin-top: .1rem;
  margin-left: .1rem;
  border: 1px;
  border-color: var(--bg-1-color);

  font-size: 1.2rem;
  color: var(--color-item-cart);

}

/*Styles search*/

.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .2rem;
  height: 46px;
  border-radius: .6rem;

  background-color: #ffffff;
}

.header-search h6 {
  color: var(--search-font);
  margin: 0;
  margin-left: .8rem;
}

.item-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: inherit;
  width: 50px;

  background-color: var(--search-c);
}

.item-search i {
  color: #000;
  font-size: 1.5rem;
}

/*Styles for categorys*/
.header-category {
  position: relative;

  height: 38px;
  margin-top: .7rem;
  padding-left: .4rem;
  
  overflow-x: scroll;
}

.header-category::-webkit-scrollbar {
  display: none;
}

.carrousel {
  position: absolute;
  width: auto;
  display: flex;
}

.carrousel h6 {
  margin-right: .8rem;
  white-space: nowrap;
}

/*Style for deliver*/
.header-deliver {
  display: flex;
  
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: .6rem;

  background-color: var(--bg-deliver);
}

.header-deliver i {
  font-size: 1.2rem;
}

.header-deliver h6 {
  margin: 0;
  margin-left: 4px;

  font-size: .85rem;
}

/*Style Content*/
.content {
  min-height: 100vh;

  background-color: var(--bg-content);
}

/*Styles for refreshHome*/
.refresh-home {
  position: relative;

  width: 100%;
  height: 350px;
  
  background-image: url("https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/71uIwGsOQpL._SR1236,1080_.jpg");
  background-size: cover;
}

.refresh-home-products {
  position: absolute;
  
  width: 100%;
  margin-top: 236px;

}

.refresh-home-container {
  position: relative;
  height: 180px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.refresh-home-carroussel {
  position: absolute;

  display: flex;
  height: 180px;
}

.product {

  width: 135px;
  height: 180px;
  margin-left: 10px;

  background-color: var(--header-font-color);
  border-radius: .2rem;
}

.product h6 {
  width: 100%;
  height: 45px;
  margin: 0;
  margin-left: 10px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding: 2px;
}

.product img {
  width: 100%;
  height: 140px;
  
}

/*Styles Sing content*/
.content-seccion {
  width: 100%;
  height: 150px;
  background-color: var(--header-font-color);
  padding: 15px;
}

.content-sing {
  margin-top: 75px;
}

.content-sing h4, .content-sing h6{
  font-weight: lighter;
}

.content-sing button {
  width: 100%;
  height: 45px;
  border-radius: .7rem;
  border-color: none;
  border-width: 0px;
  margin-top: 5px;
  margin-bottom: 15px;

  font-size: 1rem;
  font-weight: 300;

  background-color: var(--button-sing);
}

.content-shop {
  margin-top: 5px;
  padding: 0;
}

.content-shop img {
  width: auto;
  height: 150px;
  margin: 0;
  border-radius: 0px;
}

/*Styles for Merchandise Content*/
.merchandise-content {
  width: 100%;
  height: 60vh;
  margin-top: 5px;
  padding: 15px;
  background-color: var(--header-font-color);
}

.merchandise-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.merchandise-content h6, .merchandise-content h4 {
  font-weight: lighter;
}

/*Style keep exploring*/
.keep-exploring-content {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 22% 56% 22%;
  align-items: center;

  background-color: var(--bg-content);
}

.keep-exploring-content h6 {
  font-weight: 300;
  font-size: .8rem;
  margin: 0;
  margin-bottom: 1px;
  color: #8184a6;
}

.keep-exploring-line {
  width: 96%;
  height: 1px;
  border-top: 0.5px solid #8184a6;
}

/*Styles Explore Content*/

.explore-department-content {
  width: 100%;
  height: 380px;
  padding: 15px;

  background-color: var(--header-font-color);
}

.explore-department-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(3,88px);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.explore-department-products img {
  border-radius: 0;
}

.explore-department-content h6, 
.explore-department-content h4 {
  font-weight: 200;
}

/* ********** Utilities ********** */

/* ********** Site Styles ********** */