/* ********** Custom Properties ********** */
@font-face{
  font-family: "ember";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/AmazonEmber_Lt.woff")format("woff");
}

@font-face{
  font-family: "ember-medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Amazon-Ember-Medium.woff")format("woff");
}
:root{ 
  --header-font-color : #ffffff;
  --bg-1-color: #232f3e;
  --bg-2-color: #37475a;
  --color-item-cart: #ff990c;
  --search-font: #b0afaf;
  --search-c : #fcbb6a;
  --bg-deliver : #37475A;
  --step--2: clamp(0.91rem, calc(0.90rem + 0.07vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.16vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.26rem + 0.28vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.49rem + 0.44vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.76rem + 0.67vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.07rem + 0.98vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.44rem + 1.39vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.88rem + 1.94vw), 4.58rem);
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Arsenal', sans-serif;
  
  scroll-behavior: smooth;
}
*, *:before, *:after {
box-sizing: inherit;
}

img{
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 5px;
}

body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

/* ********** Component ********** */
/*Styles header*/
.header {
  display: grid;
  grid-template-rows: repeat(25%);

  background-color: var(--bg-1-color);
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;

  color: var(--header-font-color);
}

.header-home {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 48px;
}

.header-home h6 {
  font-size: .8rem;
}

.header-logo {
  margin-left: 10px;
  margin-top: 6px;
  width: 82px;
  height: auto;
} 

.header-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-item h6 {
  margin-bottom: 0.2rem;
  margin-right: .1rem;
}

.bi {
  color: white;
  font-size: 2rem;
}

.bi-chevron-right {
  font-size: .5rem;
}

.header-cart {
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-cart h6 {
  position: absolute;

  margin-top: .1rem;
  margin-left: .1rem;
  border: 1px;
  border-color: var(--bg-1-color);

  font-size: 1.2rem;
  color: var(--color-item-cart);

}

/*Styles search*/

.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .2rem;
  height: 46px;
  border-radius: .6rem;

  background-color: #ffffff;
}

.header-search h6 {
  color: var(--search-font);
  margin: 0;
  margin-left: .8rem;
}

.item-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: inherit;
  width: 50px;

  background-color: var(--search-c);
}

.item-search i {
  color: #000;
  font-size: 1.5rem;
}

/*Styles for categorys*/
.header-category {
  position: relative;

  height: 38px;
  margin-top: .7rem;
  padding-left: .4rem;
  
  overflow-x: scroll;
}

.header-category::-webkit-scrollbar {
  display: none;
}

.carrousel {
  position: absolute;
  width: auto;
  display: flex;
}

.carrousel h6 {
  margin-right: .8rem;
  white-space: nowrap;
}

/*Style for deliver*/
.header-deliver {
  display: flex;
  
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: .6rem;

  background-color: var(--bg-deliver);
}

.header-deliver i {
  font-size: 1.2rem;
}

.header-deliver h6 {
  margin: 0;
  margin-left: 4px;

  font-size: .85rem;
}
/* ********** Utilities ********** */

/* ********** Site Styles ********** */