/* ********** Custom Properties ********** */
h1, h2, h3, h4, h5, h6 {
  margin: 0 ;
}

@font-face{
  font-family: "ember";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/AmazonEmber_Lt.woff")format("woff");
}

@font-face{
  font-family: "ember-medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/Amazon-Ember-Medium.woff")format("woff");
}
:root{
  --header-font-color : #ffffff;
  --light-gray : #f3f3f3;
  --bg-1-color: #232f3e;
  --bg-2-color: #37475a;
  --bg-3-color: #131921; 
  --bg-4-color: #232f3e;
  --color-item-cart: #ff990c;
  --search-font: #b0afaf;
  --search-c : #fcbb6a;
  --bg-deliver : #37475A;
  --bg-content  : #d5dbdb;
  --button-sing : #ffd814;
  --product-letter : #37403e;
  --orange-dark: #ed381c;
  --step--2: clamp(0.91rem, calc(0.90rem + 0.07vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.16vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.26rem + 0.28vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.49rem + 0.44vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.76rem + 0.67vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.07rem + 0.98vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.44rem + 1.39vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.88rem + 1.94vw), 4.58rem);
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Arsenal', sans-serif;

  scroll-behavior: auto;
}
*, *:before, *:after {
box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 5px;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0px important!;
}

/* ********** Component ********** */

/* ********** Utilities ********** */
.light-font {
  color: #bdc0c3;
  font-size: .8rem;
  font-weight: 600;
}

.bold-font {
  font-family: "ember-medium";
  color: #fff;
  font-size: .9rem;
  font-weight: 600;
  margin-top: -7px;
}




/* ********** Site Styles ********** */